body{
    
    background-color: rgb(255, 255, 255);
    text-align: center;
    background-size: cover;
}
.conteudo1{
    background-image: url("istockphoto-1407063872-612x612.jpg");
    color: aliceblue;
    background-color: rgb(255, 255, 255);

    height: 200px;
}

.conteudo2{
    display: flex;
}
