body{
    
    background-color: rgb(255, 255, 255);
    text-align: center;
    background-size: cover;
}
.conteudo1{
    background-image: url("istockphoto-1407063872-612x612.jpg");
    color: aliceblue;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    height: 200px;
}
.conteudo2{
    background-color: rgb(255, 255, 255);
}

